<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    {% include "tailwind.css" %}
  </style>
</head>

<body>
  <main>
    {% block main required %}
    {% endblock %}
  </main>
</body>

</html>

