.VPSidebarItem {
  &.is-link {
    margin: 4px 0;
  }

  .items {
    overflow: hidden;
  }

  .items:first-child {
    .VPSidebarItem.is-link:first-child {
      padding-top: 4px;
      padding-bottom: 4px;
      line-height: 24px;
      font-size: 14px;
      margin: 0;

      p.text {
        font-weight: 700;
        color: var(--vp-c-text-1);
      }

      &.is-active p.text {
        color: var(--vp-c-brand);
      }
    }
  }

  .item {
    p.text {
      padding: 0;
    }
  }
}
